data_ingestion2.json
{
  "name": "data_ingestion2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "52ade4f8-3991-4425-9fd6-a96dbfdd3390",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://archive.ics.uci.edu/ml/machine-learning-databases/00502/online_retail_II.xlsx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "13537219-5b3f-4f1f-bdd6-47bc8dcdaf72",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "range": "A250001:H600000",
          "sheetName": "Year 2010-2011"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "bedce57d-ab4f-4e8c-94d7-11595a62b5fb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "retail_10_11",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quantity": "={{ $json.Quantity }}",
            "price": "={{ $json.Price }}",
            "invoice": "={{ $json.Invoice }}",
            "stock_code": "={{ $json.StockCode }}",
            "description": "={{ $json.Description }}",
            "invoice_date": "={{ $json.invoice_date_clean }}",
            "customer_id": "={{ $json[\"Customer ID\"] }}",
            "country": "={{ $json.Country }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "invoice",
              "displayName": "invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stock_code",
              "displayName": "stock_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        0
      ],
      "id": "66677fc4-214c-4555-8262-4860ad9f3806",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "Fk0SCT5s7RtV6WXP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // 1. Get the raw Excel date (the decimal number)\n  // Ensure 'InvoiceDate' matches your Excel header exactly!\n  const rawDate = item.json.InvoiceDate; \n  \n  if (rawDate) {\n    // 2. Convert Excel serial number to JS Date\n    const date = new Date(Math.round((rawDate - 25569) * 86400 * 1000));\n    \n    // 3. Create a new clean field for Postgres\n    item.json.invoice_date_clean = date.toISOString();\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "5d32eb45-e1b5-443f-bd93-8bd763941a20",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d561ecde-4b72-4199-aa63-0d43d240e781",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7448c2f500609f4266410bdaff5c43b3cbe8a925c1768f8f3b745ab7131f862f"
  },
  "id": "5bNpu1WjF8y4zUv0",
  "tags": []
}